form.table .search,
form.table .pagination {
	text-align: center;
}

form.table .order,
form.table .pagination-options {
	text-align: right;
}

form.table table tr td.option {
    width: 20px;
}

form.table .table-header,
form.table table {
	margin-bottom: 12px;
}

form.table tr td img.data {
    border: 1px solid #BBB;
    padding: 2px;
    float: left;
    margin: 0 7px 0 0;
}

body form.table .options {
	padding: 0;
}

form.table select {
    width: auto;
    display: inline;
}

form.table .pagination-options select {
	width: 70px;
}

form.table .pagination {
	margin-top: 0;
	margin-bottom: 0;
}

form.table div.options input {
    margin: 8px;
}

form.table div.options select {
    margin-left: 4px;
}

form.table span.loading {
    background-position: 0px 14px;
    margin-left: 7px;
}

table .info {
    color: #999;
    font-size: 0.8em;
}

table .unlocalized a {
    color: #777;
}

table .unlocalized .help-block {
    color: #AAA;
}
