{% extends 'base/index' %}

{% block content_title %}
    <div class="page-header"><h1>{{ title }} <small>{{ statusCode }}</small></h1></div>
{% endblock content_title %}

{% block content_body %}
    {% if message %}
        <p>{{ message }}</p>
    {% endif %}
{% endblock content_body %}
